<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: pagehead('LOGOWANIE', 'none')" />
<body>

<div class="container-fluid text-center text-center">

    <div>
        <form th:action="@{/login}" method="post" style="margin: 0 auto">
            <div th:if="${param.error}">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>
            <div th:if="${param.logout}">
                <p class="text-warning">Użytkownik został wylogowany</p>
            </div>
            <div class="border rounded p-3">
                <p>LOGOWANIE</p>
                <p>
                    <input type="email" name="email" class="form-control" required placeholder="E-mail">
                </p>
                <p>
                    <input type="password" name="password" class="form-control" required placeholder="HASŁO">
                </p>
                <p>
                    <input type="checkbox" name="remember-me" />&nbsp;Zapamiętaj
                </p>
                <p>
                    <input type="submit" value="ZALOGUJ" class="btn btn-primary">
                </p>
            </div>

        </form>

    </div>

</div>
</body>
</html>