<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: pagehead('ADMIN - LISTA UŻYTKOWNIKÓW')" />
<body>

<div class="container-fluid">
    <div th:replace="fragments :: adminheader">

    </div>
    <div>
        <h1>UŻYTKOWNICY</h1>
        <a th:href="@{/admin/users/new}">NOWY UŻYTKOWNIK</a>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/admin/users/page/1}" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
            Szukaj:&nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
            &nbsp;&nbsp;
            <input type="submit" value="Szukaj" class="btn btn-primary"/>
            &nbsp;&nbsp;
            <input type="button" value="Wyczyść" class="btn btn-secondary" onclick="clearFilter()"/>
        </form>
    </div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th th:replace="fragments :: column_users('id', 'ID')"/>

                <th th:replace="fragments :: column_users('firstName', 'IMIĘ')"/>

                <th th:replace="fragments :: column_users('lastName', 'NAZWISKO')"/>

                <th th:replace="fragments :: column_users('email', 'E-MAIL')"/>
                <!-- <th>HASŁO</th> -->
                <th>STATUS</th>
                <th th:replace="fragments :: column_users('enabled', 'AKTYWNY')"/>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <!-- <td th:text="${user.password}"></td> -->
                <td th:text="${user.roles}"></td>
                <td>
                    <a th:if="${user.enabled == true}" class="fa-solid fa-user-check fa-2x icon-green" th:href="@{'/admin/users/' + ${user.id} + '/enabled/false'}" title="Aktywny"></a>
                    <a th:if="${user.enabled == false}" class="fa-solid fa-user-check fa-2x icon-grey" th:href="@{'/admin/users/' + ${user.id} + '/enabled/true'}" title="Nieaktywny"></a>
                </td>
                <td>
                    <a class="fa-solid fa-user-pen fa-2x icon-green" th:href="@{'/admin/users/edit/' + ${user.id}}"
                       title="Edycja użytkownika"></a>
                    &nbsp;
                    <a class="fa-solid fa-user-slash fa-2x icon-red link-delete"
                       th:href="@{'/admin/users/delete/' + ${user.id}}" th:userId="${user.id}"
                       title="Usuń użytkownika"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center m-1" th:if="${total>0}">
        <span>Użytkownicy od [[${startCount}]] do [[${stopCount}]] z [[${total}]]</span>
    </div>

    <div class="text-center m-1" th:unless="${total>0}">
        <span>Brak użytkowników</span>
    </div>

    <div th:if="${allPages>1}">
        <nav>
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(1, 'Pierwsza')"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${currentPage - 1}, 'Poprzednia')"></a>
                </li>
                <li th:class="${currentPage != i ? 'page-item': 'page-item active'}" th:each="i : ${#numbers.sequence(1,allPages)}">
                    <a th:replace="fragments :: page_link(${i}, ${i})"></a>
                </li>
                <li th:class="${currentPage < allPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${currentPage + 1}, 'Następna')"></a>
                </li>
                <li th:class="${currentPage < allPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${allPages}, 'Ostatnia')"></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">USUNĄĆ ??!!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>
                <div class="modal-footer"></div>
                <a class="btn btn-success" href="" id="yesButton">TAK</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">NIE</button>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            //alert($(this).attr("href"));
            userId = link.attr("userId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("NAPEWNO CHCESZ USUNĄĆ UŻYTKOWNIKA ID " + userId + " ?");
            $("#confirmModal").modal();
        });
    });

    function clearFilter() {
        window.location = "[[@{/admin/users}]]";
    }
</script>
</body>
</html>